#include <windows.h>
#include "setup_resource.h"

// Installer Icon
1 ICON "installer/setup.ico"

// Embed the compiled main binary
IDR_ETDSELECT_EXE RCDATA "ETDSelect.exe"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Emir Tugra Dag"
            VALUE "FileDescription",  "ETDSelect Installer"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "LegalCopyright",   "MIT License"
            VALUE "OriginalFilename", "ETDSelect_Setup.exe"
            VALUE "ProductName",      "ETDSelect Setup"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
